@import "tailwindcss";


html {
  scroll-behavior: smooth;
}


body {
  background: #020617;
  color: white;
}



/* Custom Container */

.container-custom {
  max-width: 1152px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}



/* Section Heading */

.section-title {
  font-size: 2.5rem;
  font-weight: 700;
  text-align: center;
}


.section-subtitle {
  color: #94a3b8;
  text-align: center;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  line-height: 2rem;
}



/* Glass Effect */

.glass {
  background: rgba(15, 23, 42, 0.7);
  border: 1px solid rgba(148,163,184,0.15);
  backdrop-filter: blur(12px);
}



/* Buttons */

.btn-primary {

  display: inline-flex;
  align-items: center;
  gap: .5rem;

  background: #06b6d4;
  color: #020617;

  padding: .75rem 1.5rem;

  border-radius: 9999px;

  font-weight: 600;

  transition: .3s;

}


.btn-primary:hover {

  background:#22d3ee;

}



.btn-outline {

  display:inline-flex;
  align-items:center;
  gap:.5rem;

  border:1px solid #06b6d4;

  color:#22d3ee;

  padding:.75rem 1.5rem;

  border-radius:9999px;

}